.advanced-router{
    height: 240px !important;
    &-tip-p{
        padding: 10px 0;
    }
}

.header-col {
    width: 98%;
    height: 24px;
    background: #dae4ed;
    border-radius: 4px;
}

.row-margin {
    margin: 5px 1px;
}

.ivu-input-wrapper {
    width: 220px;
}

.short {
    width: 100px;
}

.ivu-form-item {
    margin-bottom: 0;
}